@font-face {
  font-family: PetMe;
  src: url(/fonts/petme/PetMe.ttf);
}

body {
  font-family: PetMe;
  background: black;
  color: green;
}
.cmd {
  border: none;
  outline: none;
}

.menu {
  color: green;
}
